@import "../../../ant-var.less";

.misc-page{
	.container {
		max-width: 64.9375rem;
	}
	.catalogue-section{
		padding: 4.8125rem 0;
	}
}

.brands-section {
	background-color: #F3F6F9;
	padding: 4rem 0 2.125rem;
	.container {
		h1 {
			text-align: center;
			color: #F18700;
			font-weight: 500;
			font-size: 3rem;
			line-height: 1;
			b {
				color: #3F6587;
				font-weight: 900;
			}
		}
		.overview {
			font-size: 1.0625rem;
			text-align: center;
			color: #3F6587;
			padding: 0 0.625rem;
			font-weight: 700;
		}
		.headline {
			color: #BDBDBD;
			font-weight: 900;
			text-align: center;
			line-height: 1;
		}
		.ant-row {
			.brand-card {
				padding: 1rem 0.875rem;
				.title {
					color: #3F6587;
					text-transform: inherit;
					font-weight: 400;
					font-size: 1.625rem;
					line-height: 1.625rem;
				}
				div.ant-typography {
					color: #4F4F4F;
				}
				.smart {
					color: #F18700;
				}
			}
		}
	}
}
.misc-hero{
	&__image{
		width: 100%;
		max-width: 19.75rem;
	}
	&__title {
		i {
			display: block;
		}
	}
}

.targeted-section {
	background-color: #3F6587;
	color: #FFF;
	text-align: center;
	padding: 4rem 0 2rem;
	.container {
		.ant-row {
			.targeted-card {
				width: 100%;
				padding: 2rem 2.5rem;
				&:first-child {
					padding-left: 0;
				}
				&:nth-last-child(2) {
					padding-right: 0;
				}
				.header {
					display: flex;
					justify-content: center;
					align-items: flex-end;
					margin-bottom: 2rem;

					h1 {
						color: #FFF;
						margin: 0 0.625rem 0 0;
						font-size: 3rem;
						line-height: 3rem;
						font-weight: 900;
					}
					h2 {
						color: #F18700;
						margin: 0;
						font-size: 2.25rem;
						line-height: 3rem;
						font-weight: 500;
					}
				}
				.title {
					font-size: 1.125rem;
					font-style: italic;
					color: #FFF;
					width: 100%;
					max-width: 251px;
					margin: 0 auto;
				}
			}
			.divider {
				border-left: 0.0625rem solid #F18700;
			}
			.content {
				width: 100%;
				text-align: center;
				color: #FFF;
				margin-top: 2rem;
			}
		}
	}
}

.slider-section {
	background-color: #E7EDF2;
	padding: 10.625rem 0 9.375rem;
	.container {
		background-color: #FFF;
		padding: 1rem;
		max-width: 57.0625rem;
		margin: 0 auto;
		.ant-image {
			width: 100%;
		}
		.slider-content{
			padding: 0 1rem;
			&__title-para{
				color: #000000;
				margin-bottom: 1rem;
			}
			&__details{
				color: #333333;
			}
			&__details-title {
				color: #333333;
				font-weight: 400;
				font-size: 1.625rem;
				line-height: 1.625rem;
				margin-bottom: 1rem;
			}
		}
		.ant-carousel {
			h1 {
				color: #F37A20;
				font-weight: normal;
				text-transform: none;
				margin-bottom: 1rem;
				b {
					color: #3F6587;
					font-weight: 900;
				}
			}
			.slick-dots {
				bottom: -3.75rem;
				li {
					width: 0.375rem;
					height: 0.375rem;
					border-radius: 50%;
					background-color: #F2F2F2;
					button {
						width: 0.375rem;
						height: 0.375rem;
						border-radius: 50%;
					}
					&.slick-active {
						button {
							background-color: #8E8D8E;
						}
					}
				}
			}
		}
	}
}

.homecareer-section {
	.container {
		background-color: #F3F6F9;
		padding: 2rem 2rem;
		margin-top: -2rem;
		border-radius: 0.25rem;
		.ant-row {
			.ant-col {
				h2 {
					color: #3F6587;
					font-weight: normal;
					font-size: 2.25rem;
					margin-bottom: 1rem;
					b {
						font-weight: 900;
					}
				}
				.content {
					font-size: 1.0625rem;
					font-weight: 500;
					margin-bottom: 1.8125rem;
				}
				.homecareer-item {
					display: flex;
					padding-right: 2.5rem;
					margin-bottom: 0.5rem;
					.checkicon-container {
						width: 1rem;
						min-width: 1rem;
						height: 1rem;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						margin-right: 0.375rem;
						margin-top: 0.25rem;
						.ant-image {
							display: flex;
						}
					}
					.white {
						background-color: #FFF;
					}
					.dark {
						background-color: #3F6587;
					}
					.light {
						background-color: #F3F6F9;
					}
					.ant-typography {
						color: #3F6587;
						margin-bottom: 0;
					}
				}
			}
			.ant-ribbon-wrapper {
				.ant-image {
					.overview.rebbon-img{
						min-height: 19.125rem;
						max-width: 20.1563rem;
					}
					.overview {
						min-height: 14.9375rem;
						object-fit: cover;
					}
				}
				.ant-ribbon {
						height: fit-content;
						padding: 0.4375rem;
						top: 22%;
					&-text {
						.ant-image {
							width: 1.25rem;
						}
					}
				}
				.ribbon-one {
					margin-top: 3.125rem;
				}
				.ribbon-two {
					margin-top: 6.25rem;
				}
				.ant-ribbon-color-red{
					height: 2.5rem;
					width: 2.5rem;
					text-align: center;
					border-radius: 0.0625rem 0.25rem 0.25rem 0rem;
				}
			}
		}
	}
}
.homecareer-box-section{
	background: #F9FAFC;
	padding-bottom: 4rem;
	.container {
		max-width: 47.0625rem;
		width: 100%;
		background-color: #ffffff;
		padding: 2rem;
		margin-top: -4rem;
		box-shadow: 0.9375rem 0.9375rem 1.875rem rgb(0 0 0 / 5%);
		.ant-row {
			.ant-ribbon-wrapper {
				.ant-ribbon {
					top: 25%;
				}
			}
		}
	}
}


.tutorials-section {
	padding: 5.5rem 0 10rem;
	.container {
		.header {
			display: flex;
			justify-content: space-between;
			border-bottom: 0.0625rem solid #E0E0E0;
			padding: 2.5rem 0;
			.ant-typography {
				font-size: 3rem;
				line-height: 3rem;
				b {
					color: #F18700;
					font-weight: 500;
				}
			}
			.ant-image{
				margin-right: 3.75rem;
			}
			.content {
				font-size: 1.0625rem;
				font-weight: bold;
				width: 100%;
				max-width: 21.5rem;
				line-height: 1.5;
			}
			h1 {
				margin-bottom: 1.8125rem;
			}
		}
		.tutorial {
			display: flex;
			flex-direction: column;
			margin-top: 2.5rem;

			.ant-image {
				margin-bottom: 2rem;
			}
			h3 {
				text-transform: capitalize;
				color: #333333;
				font-weight: 400;
				font-size: 1.625rem;
				line-height: 1.625rem;
			}
			div.ant-typography {
				margin-bottom: 1rem;
			}
			div.views {
				font-size: 0.75rem;
				color: #828282;
				font-weight: 700;
				margin-bottom: 0;
				.anticon {
					margin-right: 0.375rem;
				}
			}
		}
	}
}

.bananas-section {
	background-color: #F3F6F9;
	padding: 4rem 0 8rem;
	position: relative;
	.container {
		.header {
			padding-bottom: 1rem;
			border-bottom: 0.0625rem solid #E0E0E0;
			h1 {
				text-align: center;
				color: #F18700;
				font-weight: 500;
				font-size: 3rem;
				line-height: 1;
				b {
					color: #3F6587;
					font-weight: 900;
				}
			}
			.overview {
				margin-bottom: 1rem;
				font-size: 1.0625rem;
				text-align: center;
				color: #3F6587;
				padding: 0 0.625rem;
				font-weight: 700;
			}
			.headline {
				color: #BDBDBD;
				font-weight: 900;
				text-align: center;
				margin-bottom: 1rem;
			}
		}
		.banana {
			margin-top: 2rem;
			font-size: 1.625rem;
			line-height: 1.625rem;
			text-transform: inherit;
		}
		.bananas-pera {
			color: #4F4F4F;
		}
		h3 {
			color: #3F6587;
			text-transform: inherit;
			font-weight: 400;
			font-size: 1.625rem;
			line-height: 1.625rem;
		}
		.smart {
			color: #F18700;
			text-transform: inherit;
		}
		.ant-image{
			.ant-image-img{
				max-width: 30.25rem;
				min-height: 16.0625rem;
				object-fit: cover;
			}
		}
	}
}

.misc-page {
	.signup-bg{
		padding-bottom: 2.625rem;
		.box {
			margin-top: -1.6875rem;
			h3 {
				b {
					font-weight: 900;
				}
			}
			h4 {
				font-size: 1.0625rem;
				line-height: 1.5rem;
			}
		}
	}
}
.bananas-two-section {
	padding: 3rem 0 4rem;
	.container {
		max-width: 52.5rem;
		.banana-two {
			margin-top: 1rem;
			.ant-image {
				width: 100%;
			}
			&__box {
				width: 100%;
				max-width: 14rem;
				margin: 0 auto;
			}
		}
		h3 {
			color: #3F6587;
			font-weight: 400;
			font-size: 1.625rem;
			line-height: 1.625rem;
			text-transform: lowercase;
			margin-bottom: 1rem;
			&::first-letter {
				text-transform: capitalize !important; 
			}
		}
		.smart {
			color: #F18700;
		}
	}
	&__para {
		color: #4F4F4F;
	}
}
.bananas-three-section {
	background-color: #F3F6F9;
	padding: 4rem 0 8rem;
	.container {
		max-width: 52.5rem;
		.ant-row {
			.ant-col {
				margin-top: 2rem;
				.ant-image {
					// width: 100%;
					width: 30.5rem;
    				min-height: 31rem;
				}
				.tree-img{
					width: 14.0625rem;
					min-height: 31.25rem;

				}
			}
		}
		h3 {
			color: #3F6587;
			text-transform: inherit;
			font-size: 1.625rem;
			line-height: 1.625rem;
		}
		.smart {
			color: #F18700;
		}
		div.ant-typography{
			color: #4F4F4F;
			max-width: 14rem;
		}
		.bananas-first-row {
			margin-bottom: 2rem;
		}
	}
}

.homecareer-two-section {
	padding-bottom: 2rem;
	.container {
		max-width: 52.5rem;
		background-color: #FFF;
		padding: 2rem;
		margin-top: -4rem;
		box-shadow: 0.9375rem 0.9375rem 1.875rem rgba(0, 0, 0, 0.05);
	}
}

.tutorials-two-section {
	padding: 6.25rem 0 2rem;
	.container {
		margin-bottom: 2rem;
		.header {
			display: flex;
			justify-content: space-between;
			border-bottom: 0.0625rem solid #E0E0E0;
			padding: 2.5rem 0;
			align-items: center;
			h1.ant-typography {
				margin-bottom: 1.8125rem;
				font-size: 3rem;
				font-weight: 400;
				color: #F18700;
				b {
					color: #3F6587;
					font-weight: 900;
				}
			}
			.content {
				font-size: 1.0625rem;
				font-weight: 700;
				margin-bottom: 0.3125rem;
			}
		}
	}
	.tutorials-two-left {
		background-color: #507290;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-radius: 0rem 0.25rem 0.25rem 0rem;
		padding: 2.875rem;
		.content-container {
			max-width: 16.875rem;
			color: #FFF;
			.content {
				font-size: 1.5rem;
				color: #FFF;
				font-style: italic;
				line-height: 178%;
				max-width: 16.875rem;
				width: 100%;
			}
			.cloud-container {
				display: flex;
				align-items: center;
				h3 {
					color: #FFF;
					margin-left: 0.5rem;
					font-size: 1.625rem;
				}
			}
		}
	}
	.tutorials-two-right {
		max-width: 41.25rem;
		padding: 2rem 1rem 0;
		.title-container {
			display: flex;
			align-items: flex-end;
			margin-bottom: 0.5rem;
			h3 {
				margin-top: 0;
				margin-left: 0.375rem;
				color: #BDBDBD;
				text-transform: capitalize;
				font-size: 1.625rem;
				margin-bottom: 0;
				font-weight: 400;
				line-height: 1.625rem;
			}
			div.ant-typography {
				color: #BDBDBD;
				font-size: 1.0625rem;
				font-weight: 700;
				margin-bottom: 0;
			}
		}
		.tutorial-two {
			margin-top: 3.5rem;
			h3 {
				color: #333333;
				line-height: 1.625rem;
				font-size: 1.625rem;
				min-height: 3.25rem;
				text-transform: lowercase;
				&::first-letter {
					text-transform: capitalize !important; 
				}
			}
			div.ant-typography{
				font-size: 0.875rem;
				line-height: 1.5rem;
				font-weight: 400;
			}
		}
	}
}

.tutorials-three-section {
	background-color: #F3F6F9;	
	.container {
		max-width: 65.375rem;
		padding: 2rem 0 8rem;
		.item {
			border-bottom: 0.0625rem solid #E0E0E0;
			padding-bottom: 2rem;
			margin-bottom: 2.5rem;
		}
		.ant-row {
			.ant-col {
				padding: 0 1.25rem;
				div.ant-typography {
					color: #4F4F4F;
				}
				.ant-image {
					width: 100%;
					.custom-image{
						width: 41.1875rem;
						min-height: 31rem;
						object-fit: cover;
					}
					img{
						width: 19.3125rem;
						height: 25.375rem;
						object-fit: cover;
					}
				}
			}
		}
		h3 {
			color: #3F6587;
			text-transform: lowercase;
			font-size: 1.625rem;
			margin-bottom: 0.375rem;
			&::first-letter {
				text-transform: capitalize !important; 
			}
		}
		.smart {
			color: #F18700;
			font-size: 1.625rem;
			margin-bottom: 0.375rem;
			text-transform: lowercase;
			&::first-letter {
				text-transform: capitalize !important; 
			}
			&__para{
				margin-bottom: 2.5rem;
			}
		}
	}
}

.planning-section {
	padding: 4rem 0 0.9375rem;
	background-color: #E7EDF2;
	.container {
		img{
			width: 2rem;
		}
		.overview {
			padding-right: 6.25rem;
			margin-bottom: 2rem;
			h1 {
				color: #333333;
				font-size: 2.25rem;
				text-transform: lowercase;
				&::first-letter {
					text-transform: capitalize !important; 
				}
			}
			div.ant-typography{
				margin-bottom: 0;
			}
		}
		.ant-col {
			.ant-row {
				.ant-col {
					.plan-item {
						display: flex;
						align-items: center;
						margin-bottom: 4rem;
						.ant-image {
							width: 2.5rem;
							margin-right: 3.125rem;
						}
						h3 {
							color: #3F6587;
							text-transform: lowercase;
							margin-bottom: 0rem !important;
							font-size: 1.625rem;
							&::first-letter {
								text-transform: capitalize !important; 
							}
						}
						div.ant-typography {
							margin-bottom: 0;
							font-size: 0.875rem;
						}
						.smart {
							color: #F18700;
						}
						.ant-btn {
							font-weight: bold;
							padding: 0;
							color: #333333;
						}
					}
				}
			}
		}
	}
}

.usecase-section {
	.container {
		max-width: 47.125rem;
		background-color: #3F6587;
		border-radius: 0.25rem;
		padding: 1rem 2rem;
		margin: -1.3125rem auto 2.75rem ;
		h1 {
			font-size: 3rem;
			line-height: 3rem;
			margin-bottom: 1rem;
			font-weight: 400;
			b {
				color: #F18700;
				font-weight: 900;
			}
		}
		.ant-typography {
			color: #FFF;
		}
		.content {
			font-size: 1.0625rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}
		.ant-row {
			.usecase-item {
				display: flex;
				padding-right: 2.5rem;
				.checkicon-container {
					width: 1rem;
					min-width: 1rem;
					height: 1rem;
					background-color: #FFF;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					margin-right: 0.375rem;
					margin-top: 0.25rem;
					.ant-image {
						display: flex;
					}
				}
				.ant-typography {
					margin-bottom: 0;
					color: #F3F6F9;
				}
			}
		}
	}
}
@media screen and (max-width: 1200px){
	.misc-page{
		.tutorials-two-section{
			.tutorials-two-right{
				margin-left: 0;
			}
		}
		.tutorials-three-section{
			.container{
				.ant-row{
					.ant-col{
						.ant-image{
							.custom-image{
								width: 100%;
								height: 100%;
							}
							img{	
								width: 100%;
								height: 31.25rem;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1023px){
	.misc-page{
		.catalogue-section{
			padding: 3.125rem 0;
		}
		.tutorials-three-section{
			.container{
				.ant-row{
					.ant-col{
						.ant-image{
							img{	
								height: 100%;
							}
						}
					}
				}
			}
		}
		.tutorials-two-section{
			.tutorials-two-left{
				padding: 1.25rem;
			}
		}
		.homecareer-section{
			.container{
				.ant-row{
					.ant-col{
						.homecareer-item{
							padding-right: 0.625rem;
						}
					}
				}
			}
		}
		.planning-section{
			.container{
				.overview{
					padding-right: 1.25rem;
					h1{
						font-size: 1.875rem;
					}
				}
				.ant-col{
					.ant-row{
						.ant-col{
							.plan-item{
								h3{
									line-height: 1.875rem;
									font-size: 1.125rem;
								}
							}
						}
					}
				}
			}
		}
		.planning-section{
			.container{
				.ant-col{
					.ant-row{
						.ant-col{
							.plan-item{
								.ant-image{
									margin-right: 1.25rem;
								}
							}
						}
					}
				}
			}
		}
		.slider-section{
			padding-top: 3.125rem;
			padding-bottom: 5.625rem;
		} 
		.tutorials-section{
			padding-top: 1.25rem;
			padding-bottom: 7.5rem;
		}
		.bananas-two-section{
			padding-top: 1.25rem;
			padding-bottom: 1.875rem;
		}
		.bananas-three-section{
			padding: 1.875rem 0;
		}
		.tutorials-two-section{
			padding: 1.875rem 0;
		}
		.tutorials-three-section{
			.container{
				padding-bottom: 2.5rem;
			}
		}
		.bananas-three-section {
			.container {
				.ant-row {
					.ant-col {
						.ant-image {
							width: 100%;
							min-height: 100%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.slider-section{
		.container{
			.ant-carousel {
				h1{
					font-size: 2.25rem;
				}
			}
		}
	}
	.misc-page{
		.brands-section .container h1 {
			font-size: 2.25rem;
			line-height: 1.5;
		}
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		.signup-bg{
			.box{
				max-width: 100%;
				padding-top: 9.375rem;
				.ant-image{
					width: 100%;
					top: -11.25rem;
					display: flex;
    				justify-content: center;
					img{
						max-width: 17.9375rem;
					}
				}
			}
		}
		.brands-section{
			padding: 0.625rem 0;
		}
		.targeted-section{
			padding: 1.875rem 0.9375rem;
		}
		.homecareer-section{
			.container{
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				margin-top: 1.875rem;
			}
			.ant-col{
				h2.ant-typography{
					font-size: 1.625rem;
				}
			}
		}
		.tutorials-section{
			padding-top: 0;
			.header{
				.ant-typography{
					font-size: 2.25rem;
				}
				.content{
					font-size: 1.875rem;
					line-height: 1.1;
				}
				.ant-image{
					margin-right: 0;
				}
			}
		}
		.slider-section{
			padding-top: 3.125rem;
			padding-bottom: 4.375rem;
			.container{
				padding: 0;
			}
		}
		.bananas-section{
			padding: 0.625rem 0 5.5rem;
			.container{
				padding: 0 0.9375rem;
				.ant-row{
					.ant-col{
						.ant-image{
							width: 100%;
						}
					}
				}
				.header{
					h1.ant-typography{
						font-size: 2.25rem;
						line-height: 1.5;
					}
				}
			}
		}
		.bananas-two-section{
			padding: 0;
			.container{
				.banana-two{
					margin-top: 0.625rem;
				}
				.banana-two__box{
					max-width: 100%;
				}
			}
		}
		.bananas-three-section{
			padding: 0;
			.container{
				padding: 0 0.9375rem;
				.ant-row{
					.ant-col{
						margin-top: 1.5625rem;
					}
				}
				div.ant-typography{
					max-width: 100%;
				}
			}
		}
		.planning-section{
			.container{
				padding: 0 0.9375rem;
			}
		}
		.usecase-section{
			.container{
				padding: 2rem 0.9375rem;
			}
		}
		.tutorials-section{
			.container{
				.tutorial{
					margin-top: 1.5625rem;
					.ant-image{
						margin-bottom: 0.9375rem;
					}
				}
			}
		}
		.tutorials-two-section{
			padding-top: 0;
			padding-bottom: 0.9375rem;
			.container{
				.header{
					padding: 1.25rem;
					h1.ant-typography{
						font-size: 2.25rem;
					}
				}
			}
			.tutorials-two-right{
				padding: 2rem 0 0;
				.title-container{
					h3{
						font-size: 1.125rem;
					}
					div.ant-typography{
						font-size: 0.875rem;
					}
				}
				.tutorial-two{
					margin-top: 1.25rem;
					h3{
						min-height: unset;
					}
				}
			}
			.tutorials-two-left{
				padding: 0.9375rem;
				justify-content: flex-start;
				.content-container{
					max-width: 100%;
					.content{
						max-width: 100%;
					}
				}
			}
		}
		.tutorials-three-section{
			.container{
				padding-bottom: 2.5rem;
				.ant-row{
					.ant-col{
						.ant-image{
							.custom-image{
								width: 100%;
								height: 100%;
							}
							img{
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
		.planning-section{
			padding-top: 0;
			.container{
				.overview{
					h1{
						line-height: 2.25rem;
					}
				}
				.ant-col{
					.ant-row{
						.ant-col{
							max-width: 49%;
							.plan-item{
								margin-bottom: 1.25rem;
								h3{
									line-height: 1.625rem;
									font-size: 1.25rem;
								}
								.ant-image{
									margin-right: 0.9375rem;
								}
							}
						}
					}
				}
			}
		}
		.usecase-section{
			.container{
				.ant-typography{
					margin-top: 0;
				}
			}
		}
	}
	.bananas-three-section {
		.ant-image-img{
				max-width: 16.3125rem;
		}
	}
}
@media (min-width: 574px) and (max-width: 767.5px) {
	.targeted-section {
		.container {
			.ant-row {
				.targeted-card {
					padding: 0;
					.header {
						margin-bottom: 1rem;
						h1 {
							margin-right: 0.375rem;
						}
						h2 {
							font-size: 1.25rem;
						}
					}
				}
				.divider {
					border: none;
				}
			}
		}
	}
	.tutorials-section {
		padding-bottom: 4rem;
	}
}

@media (max-width: 575px) {
	.targeted-section {
		.container {
			.ant-row {
				.targeted-card {
					padding: 0;
					.header {
						margin-bottom: 0.5rem;
						h1 {
							margin-right: 0.375rem;
						}
						h2 {
							font-size: 1.25rem;
						}
					}
				}
				.divider {
					border: none;
				}
			}
		}
	}

	.slider-section {
		padding: 4rem 0 8rem;
	}
	.tutorials-section {
		padding-bottom: 4rem;
		.container {
			.header {
				flex-direction: column;
				.ant-image {
					width: 8.125rem
				}
			}
		}
	}
	.tutorials-two-section {
		padding-bottom: 4rem;
		.container {
			.header {
				flex-direction: column;
				.ant-image {
					width: 8.125rem
				}
			}
		}
	}
	.planning-section {
		.container {
			.overview {
				padding-right: 0;
			}
		}
	}
	.misc-page{
		.planning-section{
			.container{
				.ant-col{
					.ant-row{
						.ant-col{
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}